body {
    background-color: #b1ac96;
    background-size: cover;
    background-position: center;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Blokuje przewijanie w poziomie */
    margin: 0;
    padding: 0;
}

.title {
    user-select: none; 
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    margin: 0 auto; /*Ensures it is centered, will it help for mobile?*/

    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
  }
.typed-text{
    user-select: none;  
    pointer-events: none; 
    color: rgb(255, 94, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.button_container {
    justify-content: center;
    display: flex;
    gap: 15px; 
    padding: 20px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 150px; /* Odstęp między projektami */
} 

/* to sprawia, że fajnie wygląda na mobilnych no ale na kompie jest wszystko w jednej kolumnie... */
/* .MyProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
} */

/* Na mniejszych ekranach zmniejszam nagłówki */
@media (max-width: 768px) {
    .title {
        font-size: 24px;
        text-align: center;
    }
    
    .typed-text {
        font-size: 18px;
    }

    .projects-grid {
        grid-template-columns: 1fr; /* Na telefonie 1 kolumna */
    }
    body {
        background-attachment: scroll; /* Naprawia problem */
    }
} 


/* mabye this will also help for mobile */
@media (max-width: 500px) {
    .button_container {
        flex-direction: column;
        align-items: center;
    }
}
